body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#game-container {
    width: 500px;
    height: 500px;
    background-color: #000;
    position: relative;
}

.ship {
    width: 50px;
    height: 30px;
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 200px;
}

.asteroid {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    position: absolute;
}

.fuel {
    width: 20px;
    height: 20px;
    background-color: #0f0;
    border-radius: 50%;
    position: absolute;
}

.score {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
}

